patterns/pattern-1/statemachine/workflow.asl.json
{
    "Comment": "Data Automation Async Workflow with Built-in Review Integration",
    "StartAt": "CheckExistingData",
    "States": {
        "CheckExistingData": {
            "Type": "Choice",
            "Comment": "Check if document already has pages/sections data (reprocessing scenario)",
            "Choices": [
                {
                    "And": [
                        {
                            "Variable": "$.document.num_pages",
                            "NumericGreaterThan": 0
                        },
                        {
                            "Variable": "$.document.sections[0]",
                            "IsString": true
                        }
                    ],
                    "Comment": "Document has existing data with string section IDs - skip BDA invocation",
                    "Next": "ProcessResultsSkip"
                },
                {
                    "And": [
                        {
                            "Variable": "$.document.num_pages",
                            "NumericGreaterThan": 0
                        },
                        {
                            "Variable": "$.document.sections[0].section_id",
                            "IsPresent": true
                        }
                    ],
                    "Comment": "Document has existing data with section objects - skip BDA invocation",
                    "Next": "ProcessResultsSkip"
                }
            ],
            "Default": "InvokeDataAutomation"
        },
        "InvokeDataAutomation": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "${InvokeBDALambdaArn}",
                "Payload": {
                    "taskToken.$": "$$.Task.Token",
                    "execution_arn.$": "$$.Execution.Id",
                    "working_bucket": "${WorkingBucket}",
                    "BDAProjectArn": "${BDAProjectArn}",
                    "document.$": "$.document"
                }
            },
            "ResultPath": "$.BDAResponse",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "ProcessResultsStep",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "ProcessResultsStep": {
            "Type": "Task",
            "Resource": "${ProcessResultsLambdaArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "output_bucket": "${OutputBucket}",
                "BDAResponse.$": "$.BDAResponse"
            },
            "ResultPath": "$.Result",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "CheckHITLRequired"
        },
        "ProcessResultsSkip": {
            "Type": "Task",
            "Comment": "Process existing document data without BDA invocation (reprocessing scenario)",
            "Resource": "${ProcessResultsLambdaArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "output_bucket": "${OutputBucket}",
                "skip_bda": true,
                "document.$": "$.document"
            },
            "ResultPath": "$.Result",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "CheckHITLRequired"
        },
        "CheckHITLRequired": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.Result.hitl_triggered",
                    "BooleanEquals": true,
                    "Next": "HITLReview"
                }
            ],
            "Default": "SummarizationStep"
        },
        "HITLReview": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "${ProcessResultsLambdaArn}",
                "Payload": {
                    "taskToken.$": "$$.Task.Token",
                    "action": "wait_for_hitl",
                    "document.$": "$.Result.document"
                }
            },
            "ResultPath": "$.HITLResult",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "SummarizationStep"
        },
        "SummarizationStep": {
            "Type": "Task",
            "Resource": "${SummarizationLambdaArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "document.$": "$.Result.document"
            },
            "ResultPath": "$.Result",
            "OutputPath": "$.Result.document",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "EvaluationStep"
        },
        "EvaluationStep": {
            "Type": "Task",
            "Resource": "${EvaluationLambdaArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "document.$": "$"
            },
            "ResultPath": "$",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "WorkflowComplete"
        },
        "WorkflowComplete": {
            "Type": "Pass",
            "End": true
        },
        "FailState": {
            "Type": "Fail",
            "Cause": "Data Automation Job Failed",
            "Error": "JobFailedException"
        }
    }
}
