patterns/pattern-2/statemachine/workflow.asl.json
{
    "StartAt": "OCRStep",
    "States": {
        "OCRStep": {
            "Type": "Task",
            "Resource": "${OCRFunctionArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "document.$": "$.document"
            },
            "ResultPath": "$.OCRResult",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Sandbox.Timedout",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 2,
                    "BackoffRate": 2
                }
            ],
            "Next": "ClassificationStep"
        },
        "ClassificationStep": {
            "Type": "Task",
            "Resource": "${ClassificationFunctionArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "OCRResult.$": "$.OCRResult"
            },
            "ResultPath": "$.ClassificationResult",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Sandbox.Timedout",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "ProcessSections"
        },
        "ProcessSections": {
            "Type": "Map",
            "ItemsPath": "$.ClassificationResult.document.sections",
            "ItemSelector": {
                "execution_arn.$": "$$.Execution.Id",
                "document.$": "$.ClassificationResult.document",
                "section_id.$": "$$.Map.Item.Value"
            },
            "MaxConcurrency": 10,
            "Iterator": {
                "StartAt": "ExtractionStep",
                "States": {
                    "ExtractionStep": {
                        "Type": "Task",
                        "Resource": "${ExtractionFunctionArn}",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Sandbox.Timedout",
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException",
                                    "ServiceQuotaExceededException",
                                    "ThrottlingException",
                                    "ProvisionedThroughputExceededException",
                                    "RequestLimitExceeded",
                                    "ServiceUnavailableException"
                                ],
                                "IntervalSeconds": 2,
                                "MaxAttempts": 10,
                                "BackoffRate": 2
                            }
                        ],
                        "Next": "AssessmentStep"
                    },
                    "AssessmentStep": {
                        "Type": "Task",
                        "Resource": "${AssessmentFunctionArn}",
                        "Parameters": {
                            "execution_arn.$": "$$.Execution.Id",
                            "document.$": "$.document",
                            "section_id.$": "$.section_id"
                        },
                        "ResultPath": "$",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Sandbox.Timedout",
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException",
                                    "ServiceQuotaExceededException",
                                    "ThrottlingException",
                                    "ProvisionedThroughputExceededException",
                                    "RequestLimitExceeded",
                                    "ServiceUnavailableException"
                                ],
                                "IntervalSeconds": 2,
                                "MaxAttempts": 10,
                                "BackoffRate": 2
                            }
                        ],
                        "Next": "SectionComplete"
                    },
                    "SectionComplete": {
                        "Type": "Pass",
                        "End": true
                    }
                }
            },
            "ResultPath": "$.ExtractionResults",
            "Next": "ProcessResultsStep"
        },
        "ProcessResultsStep": {
            "Type": "Task",
            "Resource": "${ProcessResultsLambdaArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "ClassificationResult.$": "$.ClassificationResult",
                "ExtractionResults.$": "$.ExtractionResults"
            },
            "ResultPath": "$.Result",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Sandbox.Timedout",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "CheckRuleValidationEnabled"
        },
        "CheckRuleValidationEnabled": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.Result.rule_validation_enabled",
                    "BooleanEquals": true,
                    "Next": "ProcessRuleValidationSections"
                }
            ],
            "Default": "SetEmptyRuleValidationResult"
        },
        "SetEmptyRuleValidationResult": {
            "Type": "Pass",
            "Parameters": {
                "document.$": "$.Result.document"
            },
            "ResultPath": "$.RuleValidationOrchestrationResult",
            "Next": "CheckHITLRequired"
        },
        "ProcessRuleValidationSections": {
            "Type": "Map",
            "ItemsPath": "$.Result.document.sections",
            "ItemSelector": {
                "execution_arn.$": "$$.Execution.Id",
                "document.$": "$.Result.document",
                "section_id.$": "$$.Map.Item.Value"
            },
            "MaxConcurrency": 10,
            "Iterator": {
                "StartAt": "RuleValidationStep",
                "States": {
                    "RuleValidationStep": {
                        "Type": "Task",
                        "Resource": "${RuleValidationLambdaArn}",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Sandbox.Timedout",
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException",
                                    "ServiceQuotaExceededException",
                                    "ThrottlingException",
                                    "ProvisionedThroughputExceededException",
                                    "RequestLimitExceeded",
                                    "ServiceUnavailableException"
                                ],
                                "IntervalSeconds": 2,
                                "MaxAttempts": 10,
                                "BackoffRate": 2
                            }
                        ],
                        "Next": "RuleValidationSectionComplete"
                    },
                    "RuleValidationSectionComplete": {
                        "Type": "Pass",
                        "End": true
                    }
                }
            },
            "ResultPath": "$.RuleValidationResults",
            "Next": "RuleValidationOrchestration"
        },
        "RuleValidationOrchestration": {
            "Type": "Task",
            "Resource": "${RuleValidationOrchestrationLambdaArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "ResultPath": "$.RuleValidationOrchestrationResult",
            "Next": "CheckHITLRequired"
        },
        "CheckHITLRequired": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.Result.hitl_triggered",
                    "BooleanEquals": true,
                    "Next": "HITLReview"
                }
            ],
            "Default": "SummarizationStep"
        },
        "HITLReview": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "${ProcessResultsLambdaArn}",
                "Payload": {
                    "taskToken.$": "$$.Task.Token",
                    "action": "wait_for_hitl",
                    "document.$": "$.Result.document"
                }
            },
            "ResultPath": "$.HITLResult",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "SummarizationStep"
        },
        "SummarizationStep": {
            "Type": "Task",
            "Resource": "${SummarizationLambdaArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "document.$": "States.ArrayGetItem(States.Array($.RuleValidationOrchestrationResult.document, $.Result.document), 0)"
            },
            "ResultPath": "$.Result",
            "OutputPath": "$.Result.document",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Sandbox.Timedout",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "EvaluationStep"
        },
        "EvaluationStep": {
            "Type": "Task",
            "Resource": "${EvaluationLambdaArn}",
            "Parameters": {
                "execution_arn.$": "$$.Execution.Id",
                "document.$": "$"
            },
            "ResultPath": "$",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Sandbox.Timedout",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException",
                        "ServiceQuotaExceededException",
                        "ThrottlingException",
                        "ProvisionedThroughputExceededException",
                        "RequestLimitExceeded",
                        "ServiceUnavailableException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "WorkflowComplete"
        },
        "WorkflowComplete": {
            "Type": "Pass",
            "End": true
        }
    }
}
